:root {
	/*   color variables */
	--clr-primary: #0e48fe;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #fafafa;
    --clr-gray150: #fbfbfb;
    --clr-gray200: #f0f0f0;
    --clr-gray300: #dfdfdf;
    --clr-gray400: #818181;
    --clr-gray500: #5a5a5a;
    --clr-gray600: #363636;
    --clr-gray700: rgb(46, 46, 46);
    --clr-notification-hover: #ffebeb;
    --clr-notification: #ffc2c2;
    --clr-notification-dark: #e00000;
	--radius: 0.2rem;
}

body {
	background-color: rgb(22, 22, 22);
	height: 100vh;
	color: white;
	font-family: Mukta, Helvetica, sans-serif;
	font-size: 1rem;
	overflow: hidden;
}
