:root {
	/*   color variables */
	--clr-primary: #0e48fe;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #fafafa;
    --clr-gray150: #fbfbfb;
    --clr-gray200: #f0f0f0;
    --clr-gray300: #dfdfdf;
    --clr-gray400: #818181;
    --clr-gray500: #5a5a5a;
    --clr-gray600: #363636;
    --clr-gray700: rgb(46, 46, 46);
    --clr-notification-hover: #ffebeb;
    --clr-notification: #ffc2c2;
    --clr-notification-dark: #e00000;
	--radius: 0.2rem;
}


.titlebar {
	left: -1px;
	top: 3px;
	height: 22px;
	width: 100%;
	outline: 2px solid #2f3241;
	background: linear-gradient(to bottom,var(--clr-gray300),var(--clr-gray400),var(--clr-gray500),var(--clr-gray600),var(--clr-gray700));
	background-color: rgb(15, 15, 15);	

	position: fixed
  }

  .titlebar2 {
	left: 45px;
	top: 3px;
	height: 22px;
	width: 89%;
	-webkit-app-region: drag;
	outline: 2px solid #2f3241;
	position: fixed
  }

  .Menu-bar{
	  position: relative;
	  top: 0;
	  left: 0;

	  width: 100%;
	  height: 2.5%;
	  background-color: rgb(15, 15, 15);
  }

#Back-button{
	left: 1%;
	top: 5.4px;
	height: 18px;
	width: 18px;
	position: absolute;
	background-color: rgb(0, 4, 255);
	box-shadow: #002480 0px 0px 0px 1px;
	border-radius: 50%;
}


  #Exit-button {
	left: 93.4%;
	top: 5.4px;
	height: 18px;
	width: 18px;
	position: absolute;
	background-color: red;
	box-shadow: #e00000 0px 0px 0px 1px;
	border-radius: 50%;
  }

  #Min-button {
	left: 95.8%;
	top: 5.4px;
	height: 18px;
	width: 18px;
	position: absolute;

	background-color: rgb(255, 217, 0);
	box-shadow: rgb(255, 217, 0) 0px 0px 0px 1px;
	border-radius: 50%;
  }

  #Max-button {
	left: 98%;
	top: 5.4px;
	height: 18px;
	width: 18px;
	position: absolute;
	background-color: rgb(64, 255, 0);
	box-shadow: rgb(64, 255, 0) 0px 0px 0px 1px;
	border-radius: 50%;
  }
