body {
	background-color: rgb(22, 22, 22); color:rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
}

#button-list {
	margin-top: 2in;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	min-width: 125px;
	min-height: 125px;
	width: auto;
	height: auto;
	max-width: 800px;
	max-height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3.50rem;

}

#WaterPad-Text{
	margin-top: 0.5in;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	display: flex;
}

.text{
	margin-top: -0.4in;
	margin-left: auto;
	margin-right: auto;
}



#button-text{
	margin-top: -0.3in;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	min-width: 125px;
	min-height: 125px;
	width: auto;
	height: auto;
	max-width: 800px;
	max-height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3.50rem;
}

/* .hidden{
	display: none;
	visibility: hidden;
}



.show{
	min-width: 125px;
	min-height: 125px;
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 500px;
	aspect-ratio: 1/1;
	background-size: 200% auto;
} */